@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

:root {
  --main-color: #f9cb12;
  --title-color: #2c2b2b;
  --text-color: #474646;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.nav-bar {
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-around;
}
.nav-menu {
  font-weight: 700;
  display: flex;
  list-style: none;
}
.menu-item {
  margin: 5px 10px;
  text-transform: capitalize;
  cursor: pointer;
}
.menu-link {
  text-decoration: none;
  color: var(--title-color);
}
.menu-link:hover {
  color: #fff;
  text-shadow: 1px 1px 1px #d4aa00;
}

#hero {
  position: relative;
  height: 92vh;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-title {
  position: absolute;
  color: var(--main-color);
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.hero-title__header {
  font-weight: 900;
  font-size: 42px;
  margin: 0;
  text-shadow: 1px 1px 10px rgb(0, 0, 0, 0.3);
}
.hero-title__sub-header {
  font-weight: 300;
  margin: 0;
  padding-top: 5px;
}
