@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

:root {
  --main-color: #f9cb12;
  --title-color: #2c2b2b;
  --text-color: #474646;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.nav-bar {
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-around;
}
.nav-menu {
  font-weight: 700;
  display: flex;
  list-style: none;
}
.menu-item {
  margin: 5px 10px;
  text-transform: capitalize;
  cursor: pointer;
}
.menu-link {
  text-decoration: none;
  color: var(--title-color);
}
.menu-link:hover {
  color: #fff;
  text-shadow: 1px 1px 1px #d4aa00;
}

#hero {
  position: relative;
  height: 92vh;
  background-image: linear-gradient(rgb(44, 43, 43, 0.5), rgb(44, 43, 43, 0.5)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-title {
  position: absolute;
  color: var(--main-color);
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.hero-title__header {
  font-weight: 900;
  font-size: 42px;
  margin: 0;
  text-shadow: 1px 1px 10px rgb(0, 0, 0, 0.3);
}
.hero-title__sub-header {
  font-weight: 300;
  margin: 0;
  padding-top: 5px;
}

#about-me {
  position: relative;
  height: 70vh;
  background-image: url(../img/about-me.png);
  background-size: 600px;
  background-position: left;
  background-repeat: no-repeat;
}

.about-me-text {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 30%;
}
.about-me-text__title {
  margin: 0;
  font-weight: 900;
  font-size: 26px;
}
.about-me-text__sub-title {
  margin: 0;
  font-weight: 300;
  padding-top: 5px;
  font-size: 16px;
}
.about-me-text__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.social-links {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
  margin-top: 50px;
}
.social-links .icon {
  width: 40px;
}
